<div class="center">
	<h1>Welcome to the Teams page</h1>
	</br>
	</br>
	<h3><b> About the Developer</b></h3>
	<p>The application is developed by <b>Adarsh Jayakumar</b> a current master student in computer science from northern illinois university</p>
	<p>He has been successful in developing application that are userfriendly and responsive that follows latest technologies</p>
</div>

